.sidebar-toggle{
    width: 80%;
    margin: auto;
    transition: width 2s;
    
}

.sidebar{
    box-shadow: 8px 2px 7px 0px rgba(0,0,0,0.41);
-webkit-box-shadow: 8px 2px 7px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 8px 2px 7px 0px rgba(0,0,0,0.41);
}

.sidebar-search{
    box-shadow: 8px 2px 7px 2px rgba(0,0,0,0.16);
    -webkit-box-shadow: 8px 2px 7px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 8px 2px 7px 2px rgba(0,0,0,0.16);
}

.sidebar-icons{
    font-size: 17px !important;
}

.upload-icons{
    font-size: 15px !important;

}

.upload{
    box-shadow: 7px 6px 0px -4px rgba(63,99,219,0.38);
    -webkit-box-shadow: 7px 6px 0px -4px rgba(63,99,219,0.38);
    -moz-box-shadow: 7px 6px 0px -4px rgba(63,99,219,0.38);
}


.textarea:focus{
    outline: none !important;
    /* border: 1px solid white !important; */
}
